
<article class="post">
  <div id="feed_posts">
    <h2>
      <%= post.posttitle%>
    </h2>

    <p class='post-body'>
      <% if local_assigns.fetch(:truncate_post, false) %>
      <%= truncate post.postbody, length: 200 %>
      <% else %>
      <%= post.postbody %>
      <% end %>
    </p>

    <p class='post-attribution' >
      Posted by <%= post.user.username %>
      at <%= post.created_at %>
    </p>
</div>
</article>







