
<div class="feedtitle_container">
  <h1>DevTalk Feed</h1>
  <br>
</div>
<!-- index to show all posts -->
<div class="post_container">
 <div id="feed_posts"> 

<!-- this is listing all posts in descending order -->

<% @posts.order(created_at: :desc).each do |post| %>
  <!-- links individual post/posttitle to post path -->

    <h2 class="post-title">
      <%= post.posttitle%>
    </h2>
    
<!-- outputs the postbody of individual posts -->
    <p class='post-body'>
      <%= post.postbody %>
    </p>
<!-- outputs the user who posted to their post -->
    <p class='post-attribution' >
      Posted by <%= post.user.username %>
      at <%= post.created_at %>
    </p>

  <!-- here is a comment for that post -->
  <%=form_for Comment.new do |f| %>
    <%= f.text_area :commentbody, :placeholder => "Comment on this post" %>
    <%= f.hidden_field :post_id, value: post.id %>
    <%= f.submit :submit %>
  <% end %>


  <!-- this is to list all the comments for that post -->
  <% post.comments.each do |comment| %>
  <p> <%= comment.commentbody %> </p>
  <p> Commented by <%= comment.user.username%> at <%= comment.created_at %></p>
  <% end %>

<% end %>
</div>
</div>


