<div class="compose_post"
<h1> Compose post </h2>
  <%= form_for @post do |f| %>
  <%= f.label :posttitle %><br>
  <%= f.text_field :posttitle %><br>
  <%= f.label :postbody %><br>
  <%= f.text_area :postbody %><br>
  <%= f.submit "Publish" %>
  <% end %>
  
</div>

