
<!-- this is the post itself -->
<article class="post">
  <h2>
    <%= @post.posttitle %>
  </h2>

  <p class='post-body'>
    <%= @post.postbody %>
  </p>

  <p class='post-attribution'>
    Posted by <%= @post.user.username %>
    at <%= @post.created_at %>
  </p>

</articel>
<!-- here is a comment for that post -->
<%= form_for Comment.new do |f| %>
  <%= f.text_area :body %>
  <%= f.hidden_field :post_id, value: @post.id %>
  <%= f.submit :submit %>
<% end %>
<!-- this is to list all the comments for that post -->
<% @post.comments.each do |comment| %>
<p>
  <%= comment.body %>
</p>
<% end %>



